<div class="h-[1720px] w-full bg-image relative">
  <div
    class="bg-black/80 w-full max-w-[900px] h-[300px] absolute-center top-0 p-14 rounded-md"
  >
    <h3 class="text-center text-white font-semibold mb-4 text-lg">
      Giới Thiệu
    </h3>
    <p class="text-white text-sm">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
      consectetur iure culpa. Atque tenetur sapiente sequi libero et quaerat
      iste possimus at, mollitia minus. Accusamus nemo suscipit cupiditate
      quaerat voluptate! Lorem ipsum dolor, sit amet consectetur adipisicing
      elit. Fuga rem minima, quod quibusdam corrupti nisi nostrum velit
      explicabo laboriosam ipsa similique quaerat culpa sit? Quas corrupti quam
      deserunt voluptas ipsam.
    </p>
  </div>

  <div
    class="form-center bg-white w-full max-w-[900px] h-[500px] sm:h-[400px] rounded-md flex flex-col items-center p-5"
  >
    <h5
      class="text-2xl font-bold px-7 py-3 mb-10 border-b-[2px] border-primary"
    >
      Liên hệ
    </h5>
    <form action="" class="">
      <div class="flex items-center gap-4 flex-wrap">
        <div>
          <label class="text-xs" for="name">Họ tên</label>
          <input
            hlmInput
            type="text"
            name="name"
            class="h-7 w-full"
            placeholder="Tên của bạn"
          />
        </div>
        <div>
          <label class="text-xs" for="phone">Số điện thoại</label>
          <input
            hlmInput
            type="text"
            name="phone"
            class="h-7 w-full"
            placeholder="123456789"
          />
        </div>
        <div>
          <label class="text-xs" for="email">Email</label>
          <input
            hlmInput
            type="text"
            name="email"
            class="h-7 w-full"
            placeholder="example@email.com"
          />
        </div>
      </div>

      <div class="mt-4">
        <label class="text-xs" for="content">Nội dung</label>
        <textarea
          hlmInput
          name="content"
          id=""
          placeholder="Nhập nội dung"
          class="w-full h-[70px]"
        ></textarea>
      </div>

      <button hlmBtn class="m-auto block mt-5 rounded-none px-8 text-sm">
        Gửi liên hệ
      </button>
    </form>
  </div>
</div>
