.bg-image {
  background-image: url("../../../assets/Home2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.absolute-center {
  position: absolute;
  top: 10.9rem;
  left: 50%;
  transform: translateX(-49.1%);
}

.form-center {
  position: absolute;
  bottom: 2.2rem;
  left: 50%;
  transform: translateX(-50%);
}
