<div class="code-search-container py-16 px-5">
  <div
    class="flex flex-col items-center justify-center max-w-screen-xl m-auto text-center"
  >
    <h2 class="text-primary text-[2rem] font-semibold mb-7">
      Truy xuất nguồn gốc
    </h2>
    <p class="max-w-screen-md mb-7">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
      cupiditate ab voluptatibus et suscipit eius voluptates? Nesciunt hic
      tempora, quisquam numquam a reiciendis atque? Odit earum temporibus quos .
    </p>

    <div class="relative w-full max-w-screen-sm mb-7">
      <input
        hlmInput
        type="text"
        placeholder="Nhập Mã"
        class="bg-white w-full border-primary border-[1.6px]"
      />
      <hlm-icon
        size="base"
        name="lucideSearch"
        class="absolute top-[7px] right-[14px] cursor-pointer hover:opacity-60"
      ></hlm-icon>
    </div>

    <div class="flex justify-center items-center gap-5">
      <button
        hlmBtn
        class="flex justify-center items-center gap-2 px-10 rounded-full"
      >
        <hlm-icon
          size="sm"
          name="lucideScanLine"
          color="white"
          class=""
        ></hlm-icon>
        <span> Scan Camera</span>
      </button>

      <button
        hlmBtn
        class="flex justify-center items-center gap-2 px-10 rounded-full bg-tertiary hover:bg-tertiary/90"
      >
        <hlm-icon
          size="sm"
          name="lucidePictureInPicture2"
          color="white"
          class=""
        ></hlm-icon>
        <span>Ảnh trên thiết bị</span>
      </button>
    </div>
  </div>
</div>
