<div class="px-4 mt-14">
  <div class="flex justify-between items-center">
    <h4 class="mt-7 mb-4 font-bold">Sản phẩm nổi bật</h4>
    <button
      hlmBtn
      variant="primary"
      class="bg-black px-4 py-0 text-xs hover:bg-black/80"
    >
      Xem tất cả
    </button>
  </div>

  <div
    class="grid xl:grid-cols-4 lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 justify-items-center sm:gap-3 gap-5"
  >
    <div
      class="md:w-72 cursor-pointer hover:bg-black/10 p-2 rounded-md sm:w-80 w-full"
      *ngFor="let product of products; index as i"
    >
      <a routerLink="{{ getRouteLink(product._id) }}" class="block">
        <img
          src="{{ product.previewImg }}"
          alt="tea"
          class="w-full aspect-video object-cover rounded-md"
        />

        <h6 class="mt-3 font-semibold">{{ product.name }}</h6>

        <p class="text-gray-600 text-sm">{{ product.manufacturerId.name }}</p>
        <div class="flex items-center gap-3 mt-3">
          <div class="flex items-center justify-center">
            <img
              src="../../../assets/star.svg"
              *ngFor="let item of getStarArray(product.star)"
              alt="star"
              class="w-5 h-5"
            />
          </div>
          <p class="text-sm text-gray-500">{{ product.reviewNum }} đánh giá</p>
        </div>
      </a>
    </div>
  </div>
</div>
